.CalendarPage {
  // Semantic UI colors
  $base-green: #21ba45;
  $base-gray: #767676;
  $base-blue: #2185d0;

  $my-shift-border: 2px solid $base-blue;
  $light-gray: lighten($base-gray, 20%);
  $lighter-gray: lighten($base-gray, 40%);
  $light-green: lighten($base-green, 30%);
  $lighter-green: lighten($base-green, 50%);
  .mini-calendar {
    .some-crew {
      background-color: $lighter-green;
    }

    .many-crew {
      background-color: $light-green;
    }

    .on-duty {
      border: $my-shift-border;
    }

    .oos {
      background: repeating-linear-gradient(
        45deg,
        $light-gray,
        $light-gray 6px,
        $lighter-gray 6px,
        $lighter-gray 12px
      );
    }
  }

  .timeline-tickmarks {
    margin: 0;
    padding: 0;
    color: $light-gray;
    justify-content: space-between;
    display: flex;
    
    .hour {
      display: inline-block;
      overflow: hidden;
      width: 1.5em;
      line-height: 1.5;

      .rotate {
        display: inline-block;
        white-space: nowrap;
        transform: translate(0,100%) rotate(-90deg);
        transform-origin: 0 0;

        &:after {
          content: '';
          float: left;
          margin-top: 100%;
        }
      }
    }
  }

  .shifts {
    .shift {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      font-weight: bold;
      border-width: 2px;
      border-style: solid none;
      border-color: $light-gray;
      background-color: $lighter-gray;
      text-align: center;

      &.me {
        border-color: $base-blue;
        background-color: lighten($base-blue, 40%);
      }

      .role {
        font-weight: normal;
        padding: 5px;
      }

      @for $hour from 1 through 24 {
        &.length-#{$hour} {
          width: #{($hour / 24 * 100)}%;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-right-style: solid;
        }
      }
      @for $hour from 0 through 23 {
        &.offset-#{$hour} {
          margin-left: #{($hour / 24 * 100)}%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-left-style: solid;
        }
      }
    }
  }
}
