.CalendarPage {
  .mini-calendar {
    .some-crew {
      background-color: #dfd;
    }

    .many-crew {
      background-color: #afa;
    }

    .on-duty {
      border: 2px solid #2185d0;
    }

    .oos {
      color: #666;
      background: repeating-linear-gradient(
        45deg,
        #ddd,
        #ddd 6px,
        #eee 6px,
        #eee 12px
      );
    }
  }
}
