.CalendarPage {
  .mini-calendar {
    .one-crew {
      background-color: #dfd;
    }

    .two-crew {
      background-color: #bfb;
    }

    .three-crew {
      background-color: #9f9;
    }

    .four-crew {
      background-color: #6f6;
    }
  }
}
